<h1>Candidatos rejeitados</h1>

<ul>
  <% @feedbacks.each do |rejected| %>
    <% if rejected.headhunter == current_headhunter %>
      <li><%= rejected.job.title %></li>
      <li><%= rejected.profile.name %></li>
      <li><%= rejected.feedback %></li>
    <% end %>
  <% end %>
</ul>
