<h1>Feedbacks</h1>

<ul>
  <% @feedbacks.each do |feedback| %>
    <% if feedback.profile_id == current_user.profile.id %>
      <li><%= feedback.job.title %></li>
      <li><%= feedback.feedback %></li>
    <% end %>
  <% end %>
</ul>
