<h1>Candidatos destacados</h1>

<table>
  <thead>
    <tr>
      <th>Candidato</th>
      <th>Observações</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @favorites.each do |fav| %>
    <tr id="fav-<%= fav.id %>">
    <% if fav.headhunter == current_headhunter %>
      <td><%= fav.profile.name %></td>
      <td><%= fav.observations %></td>
      <td><%= link_to 'Enviar proposta', new_headhunter_profile_job_offer_path(fav.profile.id) %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
