<h1>Minhas vagas</h1>

<% if @applications.any? %>
<ul>
  <% @applications.each do |application| %>
    <li><%= link_to application.job.title, users_job_applications(application) %></li>
  <% end %>
</ul>
<% end %>