<h1>Minhas vagas</h1>

<ul>
  <% @jobs.each do |job| %>
    <% if job.headhunter_id == current_headhunter.id %>
      <li><%= link_to job.title, headhunter_job_path(job) %></li>
    <% end %>
  </ul>
<% end %>