<h1>Minhas vagas</h1>

<ul>
  <% @applications.each do |application| %>
    <% if application.user == current_user %>
      <li><%= link_to application.job.title, user_job_applications_path(application) %></li>
    <% end %>
  <% end %>
</ul>