<h1>Confirmação</h1>

<%= form_with model: [@job, @application], url: user_job_applications_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit 'Confirmar candidatura' %>
<% end %>

